<?xml version="1.0" encoding="utf-8"?>
<configuration>
 

<connectionStrings><add name="DatabaseTestsEntities" connectionString="metadata=res://*/data.migrations.Model.csdl|res://*/data.migrations.Model.ssdl|res://*/data.migrations.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\data\DatabaseTests.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>